[Unit]
Description=pyStream server
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/pyStream
Environment="FLASK_APP=app"
Environment="FLASK_ENV=production"
ExecStart=python3 app.py

[Install]
WantedBy=multi-user.target

